@import './App.scss';

#projects-container {
    display: flex;
    flex-direction: column;
    gap: $padding-basic;
    animation: fadeIn 0.4s ease-out;
}

.project-image-container {
    display: flex;
    align-items: flex-start;
    gap: $padding-basic;
    background-color: $color-slight-tint;
    padding: $padding-basic;
    border-radius: $padding-basic;

    .project-image-link {
        position: relative;
        display: block;
        width: $project-image-size;
        height: $project-image-size;
        border-radius: $padding-basic;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $padding-basic;
        }

        .project-image-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.686);
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white-text;
            font-size: $font-size-small;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: $padding-basic;
        }

        &:hover .project-image-overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    .project-text {
        flex: 1;

        .project-title-container {
            display: flex;
            align-items: center;
            gap: $padding-basic / 2;
            margin-bottom: $padding-basic / 4;

            .view-code-button {
                border: solid $contrast-color 1px;
                color: $contrast-color;
                text-decoration: none;
                padding: ($padding-basic/4) ($padding-basic/2);
                align-self: flex-start;
                font-size: $font-size-smaller;
                border-radius: 10px;
                font-family: $font-paragraph;

                &:hover {
                    background-color: white;
                    color: #3c4669;
                    font-weight: 900;
                    border: solid white 1px;
                }
            }

            .project-name {
                font-weight: 500;
                font-size: $font-size-small;
                color: $contrast-color;
                text-decoration: none;
                font-family: $font-paragraph;

                &:hover {
                    color: $contrast-color-hover;
                }
            }
        }

        .project-description {
            padding-top: $padding-basic / 2;
            display: flex;
            flex-direction: column;
            gap: $padding-basic;

            h4 {
                font-family: $font-paragraph;
                font-weight: 500;
                font-size: $font-size-smaller;
                line-height: 2;
                color: $white-text;
            }

            p {
                font-family: $font-paragraph;
                padding-left: $padding-basic / 2;
                font-size: $font-size-smaller;
                color: $white-text;
            }
        }
    }
}